@{
    ViewBag.Title = "Internal SPA - Home Page";
    Layout = "~/Views/Shared/_InternalLayout.cshtml";
}

<nav-bar params="route: route"></nav-bar>
<div id="page" class="container" data-bind="component: { name: route().page, params: route }"></div>